body , html{
  height: 100%;
  background-color: rgb(66, 43, 66);
}
.parish {
  
  text-decoration-style: none ;
  list-style:none;
  height:100% ;

}
#bodys_left{
  background-color: blanchedalmond;
  display: inline;
  float: left;
  max-width: 400px;
  width: 30%;
  border-right-style:solid ;
  box-shadow: inset 0px 0px 100px 0px rgb(143, 132, 132);
  overflow-y: scroll;
  height: 800px;
}
#bodys_right{
  display: inline;

  padding-top: 0px;
  background-color: teal;
  overflow-y: scroll;
  height: 800px;
  float:right;
  width:70% ; 
}
.header{
  top:0px ;
  width: 100%;
  margin-top: 0px;
}

