{% load static %}
  <!DOCTYPE html>
  <html>
    <head>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
        <script src="{% static 'css/dropzone.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">

    </head>
    <body>
    <nav class="blue lighten-3">
        <div class="nav-wrapper container">
          <a href="#" class="brand-logo">Chat</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="">{{ request.user.username }}</a></li>
        
        </ul>
        </div>
    </nav>

    <script>
    function ok(){ document.getElementById("board").innerHTML = "";}
    </script>

<div class="container upload_details">
    <div> 
        
        <!-- <button  class="upload_button"> Upload </button> 
        -->


        <form id="post-form" name = "post-text"   action="uploadfilechat" enctype = "multipart/form-data"  method = "POST" >{% csrf_token %}
            <input id="post-text" name="post-text" type="file">
            <input name="sender" value="{{sender}}" type="hidden">
            <input name="receive" value="{{receiver}}" type="hidden">
            <input type="submit">

        </form>
  
    
    </div>
</div>


<div class="container"> 
        <div class="section" style="height: 80vh">
    <div class="row">
        <div class="col s3">
        <div class="card">
            <div class="collection">
                {% for user in users %}


                    
                    <form action="chat">
                        <input name="receiver" type="hidden" value="{{user.id}}" > 
                        <input class="user_select" type="submit" value="{{user.username}}">
                    </form>
                {% endfor %}

          

            </div>
        </div>
        </div>
        
        <div class="col s9">
         <div class="card">
          <div id="board" class="section grey lighten-3" style="height: 68vh; padding: 5px; overflow-y: scroll">
             {% block messages %}
         {% endblock %}
            </div>
            <form id="chat-box" class="form-group" method="post">
                {% csrf_token %}
                

                <div class="row">
                    <div class="col s11">
                        <div class="input-field">
                            <input id="id_message" name="message" type="text" placeholder="Type your message..">
                        </div>
                    </div>
                    <div class="col s1" style="line-height: 80px">
                        <button class="btn btn-floating blue lighten-2 waves-effect waves-light"><i class="material-icons">send</i></button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
        </div>
    </div>
        {% load static %}
        <script>
         var token = '{{csrf_token}}';

        // For receiving, set global variables to be used by the 'receive' function
        sender_id = "{{ receiver.id }}"; //Context variable for receiver
        receiver_id = "{{sender}} , {{receiver}}"; //Context variable for current logged in user
        //For sending
        $(function () {
            scrolltoend(); // Function to show the latest message, which is at the bottom of the message box, by scrolling to the end
            //Handling the submit event to send the message.
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                var message = $('#id_message');
                send({{sender}}, {{receiver}}, message.val() ,"text"); //Send function will be defined within 'chat.js'
                message.val(''); //Clear content of the the input field after sending
            })


        $("#post-form").on("submit" ,  function(e){
            event.preventDefault();
            console.log("form submitted!")  // sanity check
            var formData = new FormData(this);
            create_post( {{sender}}, {{receiver}} , formData );

         }) 
        




        })
        receive({{sender}} , {{receiver}} , 0 )  ;
        window.setInterval(function(data){
  /// call your function here
  receive({{sender}} , {{receiver}} , 1) ;
}, 50000);




        </script>
    </body>
    </html>